<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorInicio</servlet-name>
        <servlet-class>biosrentacar.presentacion.servlets.controladores.ControladorInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpleado</servlet-name>
        <servlet-class>biosrentacar.presentacion.servlets.controladores.ControladorEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCliente</servlet-name>
        <servlet-class>biosrentacar.presentacion.servlets.controladores.ControladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVehiculo</servlet-name>
        <servlet-class>biosrentacar.presentacion.servlets.controladores.ControladorVehiculo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorInicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleado</servlet-name>
        <url-pattern>/empleados</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>FiltroComprobarLogin</filter-name>
        <filter-class>biosrentacar.filtros.FiltroComprobarLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroComprobarLogin</filter-name>
        <servlet-name>ControladorInicio</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroComprobarLogin</filter-name>
        <servlet-name>ControladorVehiculo</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroComprobarLogin</filter-name>
        <servlet-name>ControladorCliente</servlet-name>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCliente</servlet-name>
        <url-pattern>/clientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVehiculo</servlet-name>
        <url-pattern>/vehiculos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>inicio</welcome-file>
    </welcome-file-list>
</web-app>
